In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Wuzzuf_Nakuri_summary.csv')

In [3]:
data

,Unnamed: 0,id,title,description
0,0,09c527f4-3fb9-402e-92e3-e802866cfc72,Sales Manager,SALES MANAGER JOB DESCRIPTIONResponsible for p...
1,1,0739174a-2443-4d3f-b64e-5c34ece26876,Cybersecurity Officer,Implementing security measures based on busine...
2,2,083ebcbc-bc00-4f5f-8398-15585ad35582,IT Manager,Ensuring the accuracy and integrity of relevan...
3,3,a5fd0169-fc57-4b43-9778-8d22bc151b88,Senior PHP Laravel Developer,Responsibilities:Develop and maintain web appl...
4,4,2aad8a20-7d90-4147-aa51-c592e1001aac,Backend Developer - Laravel,The interchange of data between the site/softw...
...,...,...,...,...
1428,45,041122500663,Data Engineer-Data Integration,ShareShareData Engineer-Data Integration607142...
1429,46,261222500879,Content & Experience Cloud and Webcenter Senio...,"*As a member of the Support organization, your..."
1430,47,160323500710,Senior Analytics Consultant,We help the world run betterOur company cultur...
1431,48,160323500744,Senior PP/QM Consultant,We help the world run betterOur company cultur...
1432,49,160323501163,Senior SAP Developer,We help the world run betterOur company cultur...

In [4]:
data['id'] = data.index + 1

In [5]:
data

,Unnamed: 0,id,title,description
0,0,1,Sales Manager,SALES MANAGER JOB DESCRIPTIONResponsible for p...
1,1,2,Cybersecurity Officer,Implementing security measures based on busine...
2,2,3,IT Manager,Ensuring the accuracy and integrity of relevan...
3,3,4,Senior PHP Laravel Developer,Responsibilities:Develop and maintain web appl...
4,4,5,Backend Developer - Laravel,The interchange of data between the site/softw...
...,...,...,...,...
1428,45,1429,Data Engineer-Data Integration,ShareShareData Engineer-Data Integration607142...
1429,46,1430,Content & Experience Cloud and Webcenter Senio...,"*As a member of the Support organization, your..."
1430,47,1431,Senior Analytics Consultant,We help the world run betterOur company cultur...
1431,48,1432,Senior PP/QM Consultant,We help the world run betterOur company cultur...
1432,49,1433,Senior SAP Developer,We help the world run betterOur company cultur...

In [6]:
data = data[['id','title','description']]

In [7]:
data

,id,title,description
0,1,Sales Manager,SALES MANAGER JOB DESCRIPTIONResponsible for p...
1,2,Cybersecurity Officer,Implementing security measures based on busine...
2,3,IT Manager,Ensuring the accuracy and integrity of relevan...
3,4,Senior PHP Laravel Developer,Responsibilities:Develop and maintain web appl...
4,5,Backend Developer - Laravel,The interchange of data between the site/softw...
...,...,...,...
1428,1429,Data Engineer-Data Integration,ShareShareData Engineer-Data Integration607142...
1429,1430,Content & Experience Cloud and Webcenter Senio...,"*As a member of the Support organization, your..."
1430,1431,Senior Analytics Consultant,We help the world run betterOur company cultur...
1431,1432,Senior PP/QM Consultant,We help the world run betterOur company cultur...
1432,1433,Senior SAP Developer,We help the world run betterOur company cultur...

In [ ]:
data.to_csv('Wuzzuf_Nakuri_summary_cleaned.csv', index=False)